@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
h1 {
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
/* Header */
header {
    height: 7em;
    background-color: #B29F78;
    text-align: center;
    border-bottom: solid 5px #EB6D00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bola{
    width: 6.0em;
    height: 6.0em;
    margin: 2em;
    background-color: #67583C;
    border-radius: 50%;
    border-bottom: solid 5px #EB6D00;
    border-left: solid 3px #EB6D00;
    border-right: solid 3px #EB6D00;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bola img{
    width: 5em;
    height: 4em;

}
#home{
    transition: 0.2s;
}
#home:hover{
    transform: scale(1.1);
}
#logout{
    float: right;
    margin: 2em;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
#logout:hover{
    margin: 2em;
    text-decoration: none;
    color: #EB6D00;
}


/* Body */
body{
        background-image: url("Assets/Livros empilhados.jpg");
        background-size: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        text-align: center;
        color:white;
    }

.container{
    width:40em;
    height:58em ;
    background-color: #B29F78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    margin: 1em auto;
    margin-bottom: 5em;
}

.container input{
    width: 80%;
    height: 2.5em;
    margin: 1em;
    border: solid 2px #5182A0;
    border-radius: 100px;
}
.container textarea{
    height: 30em;
    width: 80%;
    border: solid 2px #5182A0;
    margin: 1em;
    border-radius: 20px;
}
.container button{
    width: 8em;
    height: 3em;
    border-radius: 50px;
    border: none;
    background-color: green;
    transition: 0.2s;
    color:white;
    font-size: 1.2em;
    margin: 1em;
}
.container button:hover{
    transform: scale(1.1);
    background-color:rgb(0, 163, 0);
}




/* Footer */
footer {
    height: 5em;
    width: 100%;
    background-color: #B29F78;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.37);
    border-top: solid 5px #EB6D00;
}

@media (min-height:1500px) {
    footer {
        bottom: 0;
        position: fixed
    }
}

a {
        padding: 10px 20px;
        font-size: 16px;
        color: black;
        background-color: white;
        text-decoration: none;
        border-radius: 5px;
    }

